{% extends "craft.app.html.twig" %}

{% block title %}
	{{ parent() }} - {{ translate('m.skills.craft.shield') }}
{% endblock title %}

{% block pageTitle %}
	{{ translate('m.skills.craft.shield') }}
{% endblock pageTitle %}

{% block craftSkill %}
	<div class="top">
		<table class="skill-table">
			<tr>
				<td>{{ translate('m.skills.name') }}</td>
				<td>{{ translate('m.skills.craft.shield.bouclier') }}</td>
				<td>{{ translate('m.skills.craft.shield.rondache') }}</td>
			</tr>
		{% for homin in homins %}
			<tr>
				<td>{{ homin.name }}</td>
			{% if homin.error %}
				<td>X</td>
				<td>X</td>
			{% else %}
				<td class="lvl-{{ homin.lvls.armureBBouclier }}">{{ homin.lvls.armureBBouclier }}</td>
				<td class="lvl-{{ homin.lvls.armureBRondache }}">{{ homin.lvls.armureBRondache }}</td>
			{% endif %}
			</tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}