{% extends "craft.app.html.twig" %}

{% block title %}
	{{ parent() }} - {{ translate('m.skills.craft.armor.light') }}
{% endblock title %}

{% block pageTitle %}
	{{ translate('m.skills.craft.armor.light') }}
{% endblock pageTitle %}

{% block craftSkill %}
	<div class="top">
		<table class="skill-table">
			<tr>
				<td>{{ translate('m.skills.name') }}</td>
				<td>{{ translate('m.skills.craft.armor.botte') }}</td>
				<td>{{ translate('m.skills.craft.armor.gant') }}</td>
				<td>{{ translate('m.skills.craft.armor.pantalon') }}</td>
				<td>{{ translate('m.skills.craft.armor.manche') }}</td>
				<td>{{ translate('m.skills.craft.armor.gilet') }}</td>
			</tr>
		{% for homin in homins %}
			{% if not homin.error %}
			<tr>
				<td>{{ homin.name }}</td>
				<td class="lvl-{{ homin.lvls.armureLPied }}">{{ homin.lvls.armureLPied }}</td>
				<td class="lvl-{{ homin.lvls.armureLMain }}">{{ homin.lvls.armureLMain }}</td>
				<td class="lvl-{{ homin.lvls.armureLJambe }}">{{ homin.lvls.armureLJambe }}</td>
				<td class="lvl-{{ homin.lvls.armureLBras }}">{{ homin.lvls.armureLBras }}</td>
				<td class="lvl-{{ homin.lvls.armureLVentre }}">{{ homin.lvls.armureLVentre }}</td>
			</tr>
			{% endif %}
		{% endfor %}
		</table>
	</div>
{% endblock %}
