{% extends "craft.app.html.twig" %}

{% block title %}
	{{ parent() }} - {{ translate('m.skills.craft.weapon.melee1') }}
{% endblock title %}

{% block pageTitle %}
	{{ translate('m.skills.craft.weapon.melee1') }}
{% endblock pageTitle %}

{% block craftSkill %}
	<div class="top">
		<table class="skill-table">
			<tr>
				<td>{{ translate('m.skills.name') }}</td>
				<td>{{ translate('m.skills.craft.weapon.melee1.hache') }}</td>
				<td>{{ translate('m.skills.craft.weapon.melee1.dague') }}</td>
				<td>{{ translate('m.skills.craft.weapon.melee1.massue') }}</td>
				<td>{{ translate('m.skills.craft.weapon.melee1.lance') }}</td>
				<td>{{ translate('m.skills.craft.weapon.melee1.epee') }}</td>
				<td>{{ translate('m.skills.craft.weapon.melee1.baton') }}</td>
			</tr>
		{% for homin in homins %}
			{% if not homin.error %}
			<tr>
				<td>{{ homin.name }}</td>
				<td class="lvl-{{ homin.lvls.arme1Hache }}">{{ homin.lvls.arme1Hache }}</td>
				<td class="lvl-{{ homin.lvls.arme1Dague }}">{{ homin.lvls.arme1Dague }}</td>
				<td class="lvl-{{ homin.lvls.arme1Massue }}">{{ homin.lvls.arme1Massue }}</td>
				<td class="lvl-{{ homin.lvls.arme1Lance }}">{{ homin.lvls.arme1Lance }}</td>
				<td class="lvl-{{ homin.lvls.arme1Epee }}">{{ homin.lvls.arme1Epee }}</td>
				<td class="lvl-{{ homin.lvls.arme1Baton }}">{{ homin.lvls.arme1Baton }}</td>
			</tr>
			{% endif %}
		{% endfor %}
		</table>
	</div>
{% endblock %}
