{% extends "craft.app.html.twig" %}

{% block title %}
	{{ parent() }} - {{ translate('m.skills.craft.armor.heavy') }}
{% endblock title %}

{% block pageTitle %}
	{{ translate('m.skills.craft.armor.heavy') }}
{% endblock pageTitle %}

{% block craftSkill %}
	<div class="top">
		<table class="skill-table">
			<tr>
				<td>{{ translate('m.skills.name') }}</td>
				<td>{{ translate('m.skills.craft.armor.botte') }}</td>
				<td>{{ translate('m.skills.craft.armor.gant') }}</td>
				<td>{{ translate('m.skills.craft.armor.casque') }}</td>
				<td>{{ translate('m.skills.craft.armor.pantalon') }}</td>
				<td>{{ translate('m.skills.craft.armor.manche') }}</td>
				<td>{{ translate('m.skills.craft.armor.gilet') }}</td>
			</tr>
		{% for homin in homins %}
			{% if not homin.error %}
			<tr>
				<td>{{ homin.name }}</td>
				<td class="lvl-{{ homin.lvls.armureHPied }}">{{ homin.lvls.armureHPied }}</td>
				<td class="lvl-{{ homin.lvls.armureHMain }}">{{ homin.lvls.armureHMain }}</td>
				<td class="lvl-{{ homin.lvls.armureHTete }}">{{ homin.lvls.armureHTete }}</td>
				<td class="lvl-{{ homin.lvls.armureHJambe }}">{{ homin.lvls.armureHJambe }}</td>
				<td class="lvl-{{ homin.lvls.armureHBras }}">{{ homin.lvls.armureHBras }}</td>
				<td class="lvl-{{ homin.lvls.armureHVentre }}">{{ homin.lvls.armureHVentre }}</td>
			</tr>
			{% endif %}
		{% endfor %}
		</table>
	</div>
{% endblock %}
