{% extends "craft.app.html.twig" %}

{% block title %}
	{{ parent() }} - Niveaux d'Artisanat en armes à distance
{% endblock title %}

{% block pageTitle %}
	Niveaux d'Artisanat en armes à distance
{% endblock pageTitle %}

{% block craftSkill %}
	<div class="top">
		<table class="skill-table">
			<tr>
				<td>Nom</td>
				<td>Pistolet</td>
				<td>Mitrailleuse</td>
				<td>Lance-Grenades</td>
				<td>Fusil</td>
			</tr>
		{% for homin in homins %}
			<tr>
				<td>{{ homin.name }}</td>
			{% if homin.error %}
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
			{% else %}
				<td>{{ homin.lvls.armeTirHandgun }}</td>
				<td>{{ homin.lvls.armeTirSubmachinegun }}</td>
				<td>{{ homin.lvls.armeTirLg }}</td>
				<td>{{ homin.lvls.armeTirShotgun }}</td>
			{% endif %}
			</tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}