{% extends "craft.app.html.twig" %}

{% block title %}
	{{ parent() }} - {{ translate('m.skills.craft.armor.medium') }}
{% endblock title %}

{% block pageTitle %}
	{{ translate('m.skills.craft.armor.medium') }}
{% endblock pageTitle %}

{% block craftSkill %}
	<div class="top">
		<table class="skill-table">
			<tr>
				<td>{{ translate('m.skills.name') }}</td>
				<td>{{ translate('m.skills.craft.armor.botte') }}</td>
				<td>{{ translate('m.skills.craft.armor.gant') }}</td>
				<td>{{ translate('m.skills.craft.armor.pantalon') }}</td>
				<td>{{ translate('m.skills.craft.armor.manche') }}</td>
				<td>{{ translate('m.skills.craft.armor.gilet') }}</td>
			</tr>
		{% for homin in homins %}
			{% if not homin.error %}
			<tr>
				<td>{{ homin.name }}</td>
				<td class="lvl-{{ homin.lvls.armureMPied }}">{{ homin.lvls.armureMPied }}</td>
				<td class="lvl-{{ homin.lvls.armureMMain }}">{{ homin.lvls.armureMMain }}</td>
				<td class="lvl-{{ homin.lvls.armureMJambe }}">{{ homin.lvls.armureMJambe }}</td>
				<td class="lvl-{{ homin.lvls.armureMBras }}">{{ homin.lvls.armureMBras }}</td>
				<td class="lvl-{{ homin.lvls.armureMVentre }}">{{ homin.lvls.armureMVentre }}</td>
			</tr>
			{% endif %}
		{% endfor %}
		</table>
	</div>
{% endblock %}
