{% extends "craft.app.html.twig" %}

{% block title %}
	{{ parent() }} - Niveaux d'Artisanat en armures lourdes
{% endblock title %}

{% block pageTitle %}
	Niveaux d'Artisanat en armures lourdes
{% endblock pageTitle %}

{% block craftSkill %}
	<div class="top">
		<table class="skill-table">
			<tr>
				<td>Nom</td>
				<td>Bottes</td>
				<td>Gants</td>
				<td>Casque</td>
				<td>Pantalon</td>
				<td>Manches</td>
				<td>Gilet</td>
			</tr>
		{% for homin in homins %}
			<tr>
				<td>{{ homin.name }}</td>
			{% if homin.error %}
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
			{% else %}
				<td class="lvl-{{ homin.lvls.armureHPied }}">{{ homin.lvls.armureHPied }}</td>
				<td class="lvl-{{ homin.lvls.armureHMain }}">{{ homin.lvls.armureHMain }}</td>
				<td class="lvl-{{ homin.lvls.armureHTete }}">{{ homin.lvls.armureHTete }}</td>
				<td class="lvl-{{ homin.lvls.armureHJambe }}">{{ homin.lvls.armureHJambe }}</td>
				<td class="lvl-{{ homin.lvls.armureHBras }}">{{ homin.lvls.armureHBras }}</td>
				<td class="lvl-{{ homin.lvls.armureHVentre }}">{{ homin.lvls.armureHVentre }}</td>
			{% endif %}
			</tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}