{% extends "craft.app.html.twig" %}

{% block title %}
	{{ parent() }} - Niveaux d'Artisanat en bijoux
{% endblock title %}

{% block pageTitle %}
	Niveaux d'Artisanat en bijoux
{% endblock pageTitle %}

{% block craftSkill %}
	<div class="top">
		<table class="skill-table">
			<tr>
				<td>Nom</td>
				<td>Anneau de cheville</td>
				<td>Bracelet</td>
				<td>Diadème</td>
				<td>Boucle d'oreille</td>
				<td>Pendentif</td>
				<td>Bague</td>
			</tr>
		{% for homin in homins %}
			<tr>
				<td>{{ homin.name }}</td>
			{% if homin.error %}
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
			{% else %}
				<td class="lvl-{{ homin.lvls.bijouCheville }}">{{ homin.lvls.bijouCheville }}</td>
				<td class="lvl-{{ homin.lvls.bijouPoignet }}">{{ homin.lvls.bijouPoignet }}</td>
				<td class="lvl-{{ homin.lvls.bijouTete }}">{{ homin.lvls.bijouTete }}</td>
				<td class="lvl-{{ homin.lvls.bijouOreille }}">{{ homin.lvls.bijouOreille }}</td>
				<td class="lvl-{{ homin.lvls.bijouCou }}">{{ homin.lvls.bijouCou }}</td>
				<td class="lvl-{{ homin.lvls.bijouDoigt }}">{{ homin.lvls.bijouDoigt }}</td>
			{% endif %}
			</tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}