{% extends "craft.app.html.twig" %}

{% block title %}
	{{ parent() }} - Niveaux d'Artisanat en armures moyennes
{% endblock title %}

{% block pageTitle %}
	Niveaux d'Artisanat en armures moyennes
{% endblock pageTitle %}

{% block craftSkill %}
	<div class="top">
		<table class="skill-table">
			<tr>
				<td>Nom</td>
				<td>Bottes</td>
				<td>Gants</td>
				<td>Pantalon</td>
				<td>Manches</td>
				<td>Gilet</td>
			</tr>
		{% for homin in homins %}
			<tr>
				<td>{{ homin.name }}</td>
			{% if homin.error %}
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
			{% else %}
				<td class="lvl-{{ homin.lvls.armureMPied }}">{{ homin.lvls.armureMPied }}</td>
				<td class="lvl-{{ homin.lvls.armureMMain }}">{{ homin.lvls.armureMMain }}</td>
				<td class="lvl-{{ homin.lvls.armureMJambe }}">{{ homin.lvls.armureMJambe }}</td>
				<td class="lvl-{{ homin.lvls.armureMBras }}">{{ homin.lvls.armureMBras }}</td>
				<td class="lvl-{{ homin.lvls.armureMVentre }}">{{ homin.lvls.armureMVentre }}</td>
			{% endif %}
			</tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}