{% block fightMenu %}
	<hr/>
	<div class="padding black top">
		<span>
			Afficher spécialité | 
			 <span>
				<a href="{{ urlFor('ryzomApp-Skills/Fight/Melee2') }}?checksum={{ checksum }}&user={{ user }}">Combat à deux mains</a>
			</span>
			<span>
				 - <a href="{{ urlFor('ryzomApp-Skills/Fight/Melee1') }}?checksum={{ checksum }}&user={{ user }}">Combat à une main</a>
			</span>
			<span>
				 - <a href="{{ urlFor('ryzomApp-Skills/Fight/Melee0') }}?checksum={{ checksum }}&user={{ user }}">Combat à mains nues</a>
			</span>
			<span>
				 - <a href="{{ urlFor('ryzomApp-Skills/Fight/Range') }}?checksum={{ checksum }}&user={{ user }}">Combat à distance</a>
			</span>
		</span>
	</div>
{% endblock %}