{% extends "fight.app.html.twig" %}

{% block title %}
	{{ parent() }} - {{ translate('m.skills.fight.range.title') }}
{% endblock title %}

{% block pageTitle %}
	{{ translate('m.skills.fight.range.title') }}
{% endblock pageTitle %}

{% block fightSkill %}
	<div class="top">
		<table class="skill-table">
			<tr>
				<td>{{ translate('m.skills.name') }}</td>
				<td>{{ translate('m.skills.fight.range.fusil') }}</td>
				<td>{{ translate('m.skills.fight.range.lg') }}</td>
				<td>{{ translate('m.skills.fight.range.mitra') }}</td>
				<td>{{ translate('m.skills.fight.range.pistol') }}</td>
			</tr>
		{% for homin in homins %}
			<tr>
				<td>{{ homin.name }}</td>
			{% if homin.error %}
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
			{% else %}
				<td class="lvl-{{ homin.lvls.shotgun }}">{{ homin.lvls.shotgun }}</td>
				<td class="lvl-{{ homin.lvls.lg }}">{{ homin.lvls.lg }}</td>
				<td class="lvl-{{ homin.lvls.submachinegun }}">{{ homin.lvls.submachinegun }}</td>
				<td class="lvl-{{ homin.lvls.handgun }}">{{ homin.lvls.handgun }}</td>
			{% endif %}
			</tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}