{% extends "fight.app.html.twig" %}

{% block title %}
	{{ parent() }} - Niveaux de Combat à distance
{% endblock title %}

{% block pageTitle %}
	Niveaux de Combat à distance
{% endblock pageTitle %}

{% block fightSkill %}
	<div class="top">
		<table class="skill-table">
			<tr>
				<td>Nom</td>
				<td>Fusil</td>
				<td>Lance-grenade</td>
				<td>Mitraillette</td>
				<td>Pistolet</td>
			</tr>
		{% for homin in homins %}
			<tr>
				<td>{{ homin.name }}</td>
			{% if homin.error %}
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
			{% else %}
				<td>{{ homin.lvls.shotgun }}</td>
				<td>{{ homin.lvls.lg }}</td>
				<td>{{ homin.lvls.submachinegun }}</td>
				<td>{{ homin.lvls.handgun }}</td>
			{% endif %}
			</tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}