{% extends "fight.app.html.twig" %}

{% block title %}
	{{ parent() }} - {{ translate('m.skills.fight.melee0.title') }}
{% endblock title %}

{% block pageTitle %}
	{{ translate('m.skills.fight.melee0.title') }}
{% endblock pageTitle %}

{% block fightSkill %}
	<div class="top">
		<table class="skill-table">
			<tr>
				<td>{{ translate('m.skills.name') }}</td>
				<td>{{ translate('m.skills.fight.melee0.dague') }}</td>
				<td>{{ translate('m.skills.fight.melee0.cac') }}</td>
			</tr>
		{% for homin in homins %}
			{% if not homin.error %}
			<tr>
				<td>{{ homin.name }}</td>
				<td class="lvl-{{ homin.lvls.dague }}">{{ homin.lvls.dague }}</td>
				<td class="lvl-{{ homin.lvls.mains }}">{{ homin.lvls.mains }}</td>
			</tr>
			{% endif %}
		{% endfor %}
		</table>
	</div>
{% endblock %}
