{% extends "content.html.twig" %}

{% block title %}
	{{ parent() }} - Gérer les entrepôts de guilde
{% endblock title %}

{% block pageTitle %}Entrepôts de guilde{% endblock pageTitle %}

{% block content %}
	{% if addError %}
		<div>
			<p>Problème lors de la récupération des informations. Vérifiez la clé api et re-essayez.</p>
		</div>
	{% endif %}
	{% for guild in guilds %}
		<div>
			<h2>{{ guild.name }}</h2>
			<input type="text" value="{{ guild.apiKey }}" disabled/>
			<a href="{{ urlFor('ryzomApp-GuildConfiguration.delete', {guildId: guild.id}) }}?checksum={{ checksum }}&user={{ user }}">Supprimer</a>
		</div>
	{% endfor %}
	<hr/>
	<form method="POST">
		<input type="hidden" value="{{ user }}" name="user"/>
		<input type="hidden" value="{{ checksum }}" name="checksum"/>
		<div>
			<h2>Ajouter un nouvel entrepôt*:</h2>
			<input type="text" placeholder="Clé api" name="newApiKey"/>
			<input type="submit" value="Enregistrer"/>
		</div>
	</form>
	<div>
		* clé avec l'option "G03 Inventaire"
	</div>
{% endblock %}