{% extends "content.html.twig" %}

{% block content %}
<form name="off" id="off" method="POST">
	<input type="hidden" value="{{ user }}" id="user" name="user" />
	<input type="hidden" value="{{ checksum }}" id="checksum" name="checksum" />
	Votre clé de guilde : <br/>
	<input type="text" value="{{ apiKey }}" name="apiKey" id="apikey"/>
	<input type="submit" value="Enregistrer" name="savekey" id="savekey" />
</form>
<a href="{{ urlFor('ryzomApp-Home') }}?checksum={{ checksum }}&user={{ user }}">Retour accueil</a>
{% endblock %}