{% extends "skills.app.html.twig" %}

{% block title %}
	{{ parent() }} - Niveaux de Forage
{% endblock title %}

{% block pageTitle %}Niveaux de Forage{% endblock pageTitle %}

{% block skillContent %}
	<div class="top">
		<table class="skill-table">
			<tr>
				<td>Nom</td>
				<td>Forage en désert</td>
				<td>Forage en forêt</td>
				<td>Forage en jungle</td>
				<td>Forage lacustre</td>
				<td>Forage en primes racines</td>
			</tr>
		{% for homin in homins %}
			<tr>
				<td>{{ homin.name }}</td>
			{% if homin.error %}
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
			{% else %}
				<td class="lvl-{{ homin.lvls.desert }}">{{ homin.lvls.desert }}</td>
				<td class="lvl-{{ homin.lvls.forest }}">{{ homin.lvls.forest }}</td>
				<td class="lvl-{{ homin.lvls.jungle }}">{{ homin.lvls.jungle }}</td>
				<td class="lvl-{{ homin.lvls.lakes }}">{{ homin.lvls.lakes }}</td>
				<td class="lvl-{{ homin.lvls.primes }}">{{ homin.lvls.primes }}</td>
			{% endif %}
			</tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}