{% extends "content.html.twig" %}

{% block title %}
	{{ parent() }} - Accueil
{% endblock title %}

{% block content %}
	<h2></h2>
	<a href="{{ urlFor('ryzomApp-HominKey') }}?checksum={{ checksum }}&user={{ user }}">Clé api personnelle</a>
	{% if grade=="Leader" or grade=="HighOfficer" %}
		<a href="{{ urlFor('ryzomApp-GuildKey') }}?checksum={{ checksum }}&user={{ user }}">Clé api de guilde</a>
	{% endif %}
{% endblock content %}