{% extends "content.html.twig" %}

{% block content %}
{% if error is not null %}
	<p>Votre clé est invalide, veuillez la mettre à jour.</p>
{% endif %}
<form method="POST">
	<input type="hidden" value="{{ user }}" name="user" />
	<input type="hidden" value="{{ checksum }}" name="checksum" />
	Votre clé API personnelle : <br/>
	<input type="text" value="{{ apiKey }}" name="apiKey"/>
	{% set value = "Mettre à jour" %}
	{% if apiKey is null %}
		{% set value = "Enregistrer" %}
	{% endif %}
	<input type="submit" value="{{ value }}"/>
</form>
<a href="{{ urlFor('ryzomApp-Home') }}?checksum={{ checksum }}&user={{ user }}">Retour accueil</a>
{% endblock %}