{% extends "content.html.twig" %}

{% block title %}
	{{ parent() }} - Clé Api
{% endblock title %}

{% block pageTitle %}Clé Api{% endblock pageTitle %}

{% block content %}
{% if error is not null %}
	<p>Votre clé est invalide, veuillez la mettre à jour.</p>
{% endif %}
<form method="POST">
	<input type="hidden" value="{{ user }}" name="user" />
	<input type="hidden" value="{{ checksum }}" name="checksum" />
	Entrez clé Api*: <br/>
	<input type="text" value="{{ apiKey }}" name="apiKey"/>
	{% set value = "Mettre à jour" %}
	{% if apiKey is null %}
		{% set value = "Enregistrer" %}
	{% endif %}
	<input type="submit" value="{{ value }}"/>
</form>
<div>
	* clé avec l'option P02 Compétences
</div>
<a href="{{ urlFor('ryzomApp-Home') }}?checksum={{ checksum }}&user={{ user }}">Retour accueil</a>
{% endblock %}