{% block inventoryMenu %}
	<a href="{{ urlFor('ryzomApp-Home') }}?checksum={{ checksum }}&user={{ user }}">Retour accueil</a>
	{% for guild in guilds %}
		<a href="{{ urlFor('ryzomApp-Inventory/guild', {'guildId': guild.id}) }}?checksum={{ checksum }}&user={{ user }}">{{ guild.name }}</a>
	{% endfor %}
	<a href="{{ urlFor('ryzomApp-Inventory') }}?checksum={{ checksum }}&user={{ user }}">Retour</a>
{% endblock %}