{% extends "content.html.twig" %}

{% block content %}
<form method="POST">
	<input type="hidden" value="{{ user }}" name="user"/>
	<input type="hidden" value="{{ checksum }}" name="checksum"/>
	<div>
		<div>
			<h2>Config artisanat</h2>
		{% for craft in lvls.craft %}
			{% set check = '' %}
			{% if craft.visible %}
				{% set check = 'checked="checked"' %}
			{% endif %}
			<p>{{ craft.name }}: {{ craft.value }} <input type="checkbox" name="{{ craft.code }}" {{ check }}/></p>
		{% endfor %}
		</div>
		<div>
			<h2>Config combat</h2>
		{% for fight in lvls.fight %}
			{% set check = '' %}
			{% if fight.visible %}
				{% set check = 'checked="checked"' %}
			{% endif %}
			<p>{{ fight.name }}: {{ fight.value }} <input type="checkbox" name="{{ fight.code }}" {{ check }}/></p>
		{% endfor %}
		</div>
		<input type="submit" value="Mettre à jour"/>
	</div>
</form>
<a href="{{ urlFor('ryzomApp-Home') }}?checksum={{ checksum }}&user={{ user }}">Retour accueil</a>
{% endblock %}