{% extends "ingame/layout.ig.html.twig" %}

{% block body %}
	{% if grade != "NoGuild" %}
		<table bgcolor="#000000" border="0" width="100%">
			<tr valign="middle">
				<td align="left" height="20">
					<a href="{{ urlFor('ryzomApp-Home') }}?checksum={{ checksum }}&user={{ user }}">{{ translate('m.layout.home') }}</a>
					 | <a href="{{ urlFor('ryzomApp-Inventory') }}?checksum={{ checksum }}&user={{ user }}">{{ translate('m.content.inventory') }}</a>
					 | <a href="{{ urlFor('ryzomApp-Skills') }}?checksum={{ checksum }}&user={{ user }}">{{ translate('m.content.skills') }}</a>
				</td>
				<td align="right" height="20">
					<a href="{{ urlFor('ryzomApp-HominKey') }}?checksum={{ checksum }}&user={{ user }}">{{ translate('m.content.apiKey') }}</a>
				{% if grade=="Leader" or grade=="HighOfficer" %}
					 | <a href="{{ urlFor('ryzomApp-GuildKey') }}?checksum={{ checksum }}&user={{ user }}">{{ translate('m.content.guildApiKey') }}</a>
					 | <a href="{{ urlFor('ryzomApp-GuildConfiguration') }}?checksum={{ checksum }}&user={{ user }}">{{ translate('m.content.warehouses') }}</a>
				{% endif %}
				</td>
			</tr>
		</table>
	{% endif %}
	{% block content %}{% endblock content %}
{% endblock body %}