{% extends "ingame/craft.ig.html.twig" %}

{% block craftSkill %}
	<h5>{{ translate('m.skills.craft.weapon.melee1') }}</h5>
	<table width="100%">
		<tr align="center" valign="middle">
			<td height="18"><font size="15">{{ translate('m.skills.name') }}</font></td>
			<td><font size="15">{{ translate('m.skills.craft.weapon.melee1.hache') }}</font></td>
			<td><font size="15">{{ translate('m.skills.craft.weapon.melee1.dague') }}</font></td>
			<td><font size="15">{{ translate('m.skills.craft.weapon.melee1.massue') }}</font></td>
			<td><font size="15">{{ translate('m.skills.craft.weapon.melee1.lance') }}</font></td>
			<td><font size="15">{{ translate('m.skills.craft.weapon.melee1.epee') }}</font></td>
			<td><font size="15">{{ translate('m.skills.craft.weapon.melee1.baton') }}</font></td>
		</tr>
		{% set count = 0 %}
	{% for homin in homins %}
		{% set count = count+1 %}
		{% set color = "#66330080" %}
		{% if count%2 == 0 %}
			{% set color = "#33333380" %}
		{% endif %}
		<tr align="center" bgcolor="{{ color }}" valign="middle">
			<td height="15"><font size="12">{{ homin.name }}</font></td>
		{% if homin.error %}
			<td>X</td>
			<td>X</td>
			<td>X</td>
			<td>X</td>
			<td>X</td>
			<td>X</td>
		{% else %}
			<td>{{ homin.lvls.arme1Hache }}</td>
			<td>{{ homin.lvls.arme1Dague }}</td>
			<td>{{ homin.lvls.arme1Massue }}</td>
			<td>{{ homin.lvls.arme1Lance }}</td>
			<td>{{ homin.lvls.arme1Epee }}</td>
			<td>{{ homin.lvls.arme1Baton }}</td>
		{% endif %}
		</tr>
	{% endfor %}
	</table>
{% endblock %}