{% block craftMenu %}
	<h5>Spécialités</h5>
	<table bgcolor="#00003395" border="0" width="100%">
		<tr valign="middle">
			<td height="20">
				<pre>    Créer armures |</pre>
				 <a href="{{ urlFor('ryzomApp-Skills/Craft/Shield') }}?checksum={{ checksum }}&user={{ user }}">Boucliers</a>
				 - <a href="{{ urlFor('ryzomApp-Skills/Craft/LightArmor') }}?checksum={{ checksum }}&user={{ user }}">Légères</a>
				 - <a href="{{ urlFor('ryzomApp-Skills/Craft/MediumArmor') }}?checksum={{ checksum }}&user={{ user }}">Moyennes</a>
				 - <a href="{{ urlFor('ryzomApp-Skills/Craft/HeavyArmor') }}?checksum={{ checksum }}&user={{ user }}">Lourdes</a>
				 - <a href="{{ urlFor('ryzomApp-Skills/Craft/Jewel') }}?checksum={{ checksum }}&user={{ user }}">Bijoux</a>
			</td>
		</tr>
	</table>
	<table bgcolor="#00003395" border="0" width="100%">
		<tr valign="middle">
			<td height="20">
				<pre>    Créer armes   |</pre>
				 <a href="{{ urlFor('ryzomApp-Skills/Craft/Melee1Weapon') }}?checksum={{ checksum }}&user={{ user }}">Armes à une main</a>
				 - <a href="{{ urlFor('ryzomApp-Skills/Craft/Melee2Weapon') }}?checksum={{ checksum }}&user={{ user }}">Armes à deux mains</a>
				 - <a href="{{ urlFor('ryzomApp-Skills/Craft/RangeWeapon') }}?checksum={{ checksum }}&user={{ user }}">Armes à distance</a>
			</td>
		</tr>
	</table>
{% endblock %}