{% extends "ingame/craft.ig.html.twig" %}

{% block craftSkill %}
	<h5>{{ translate('m.skills.craft.armor.light') }}</h5>
	<table width="100%">
		<tr align="center" valign="middle">
			<td height="18"><font size="15">{{ translate('m.skills.name') }}</font></td>
			<td><font size="15">{{ translate('m.skills.craft.armor.botte') }}</font></td>
			<td><font size="15">{{ translate('m.skills.craft.armor.gant') }}</font></td>
			<td><font size="15">{{ translate('m.skills.craft.armor.pantalon') }}</font></td>
			<td><font size="15">{{ translate('m.skills.craft.armor.manche') }}</font></td>
			<td><font size="15">{{ translate('m.skills.craft.armor.gilet') }}</font></td>
		</tr>
		{% set count = 0 %}
	{% for homin in homins %}
		{% set count = count+1 %}
		{% set color = "#66330080" %}
		{% if count%2 == 0 %}
			{% set color = "#33333380" %}
		{% endif %}
		<tr align="center" bgcolor="{{ color }}" valign="middle">
			<td height="15"><font size="12">{{ homin.name }}</font></td>
		{% if homin.error %}
			<td>X</td>
			<td>X</td>
			<td>X</td>
			<td>X</td>
			<td>X</td>
		{% else %}
			<td><font color="{{ getColor(homin.lvls.armureLPied) }}">{{ homin.lvls.armureLPied }}</font></td>
			<td><font color="{{ getColor(homin.lvls.armureLMain) }}">{{ homin.lvls.armureLMain }}</font></td>
			<td><font color="{{ getColor(homin.lvls.armureLJambe) }}">{{ homin.lvls.armureLJambe }}</font></td>
			<td><font color="{{ getColor(homin.lvls.armureLBras) }}">{{ homin.lvls.armureLBras }}</font></td>
			<td><font color="{{ getColor(homin.lvls.armureLVentre) }}">{{ homin.lvls.armureLVentre }}</font></td>
		{% endif %}
		</tr>
	{% endfor %}
	</table>
{% endblock %}