{% extends "ingame/fight.ig.html.twig" %}

{% block fightSkill %}
	<h5>Niveaux en Combat à une main</h5>
	<table width="100%">
		<tr align="center" valign="middle">
			<td height="18"><font size="15">Nom</font></td>
			<td><font size="15">Bâton</font></td>
			<td><font size="15">Epée</font></td>
			<td><font size="15">Hache</font></td>
			<td><font size="15">Lance</font></td>
			<td><font size="15">Masse</font></td>
		</tr>
		{% set count = 0 %}
	{% for homin in homins %}
		{% set count = count+1 %}
		{% set color = "#66330080" %}
		{% if count%2 == 0 %}
			{% set color = "#33333380" %}
		{% endif %}
		<tr align="center" bgcolor="{{ color }}" valign="middle">
			<td height="15"><font size="12">{{ homin.name }}</font></td>
		{% if homin.error %}
			<td>X</td>
			<td>X</td>
			<td>X</td>
			<td>X</td>
			<td>X</td>
		{% else %}
			<td>{{ homin.lvls.baton1 }}</td>
			<td>{{ homin.lvls.epee1 }}</td>
			<td>{{ homin.lvls.hache1 }}</td>
			<td>{{ homin.lvls.lance1 }}</td>
			<td>{{ homin.lvls.masse1 }}</td>
		{% endif %}
		</tr>
	{% endfor %}
	</table>
{% endblock %}