{% extends "ingame/fight.ig.html.twig" %}

{% block fightSkill %}
	<h5>{{ translate('m.skills.fight.range.title') }}</h5>
	<table width="100%">
		<tr align="center" valign="middle">
			<td height="18"><font size="15">{{ translate('m.skills.name') }}</font></td>
			<td><font size="15">{{ translate('m.skills.fight.range.fusil') }}</font></td>
			<td><font size="15">{{ translate('m.skills.fight.range.lg') }}</font></td>
			<td><font size="15">{{ translate('m.skills.fight.range.mitra') }}</font></td>
			<td><font size="15">{{ translate('m.skills.fight.range.pistol') }}</font></td>
		</tr>
		{% set count = 0 %}
	{% for homin in homins %}
		{% set count = count+1 %}
		{% set color = "#66330080" %}
		{% if count%2 == 0 %}
			{% set color = "#33333380" %}
		{% endif %}
		<tr align="center" bgcolor="{{ color }}" valign="middle">
			<td height="15"><font size="12">{{ homin.name }}</font></td>
		{% if homin.error %}
			<td>X</td>
			<td>X</td>
			<td>X</td>
			<td>X</td>
		{% else %}
			<td><font color="{{ getColor(homin.lvls.shotgun) }}">{{ homin.lvls.shotgun }}</font></td>
			<td><font color="{{ getColor(homin.lvls.lg) }}">{{ homin.lvls.lg }}</font></td>
			<td><font color="{{ getColor(homin.lvls.submachinegun) }}">{{ homin.lvls.submachinegun }}</font></td>
			<td><font color="{{ getColor(homin.lvls.handgun) }}">{{ homin.lvls.handgun }}</font></td>
		{% endif %}
		</tr>
	{% endfor %}
	</table>
{% endblock %}