{% extends "ingame/content.ig.html.twig" %}

{% block content %}
<form action="{{ urlFor('ryzomApp-GuildKey.post') }}" method="POST">
	<input type="hidden" value="{{ user }}" name="user" />
	<input type="hidden" value="{{ checksum }}" name="checksum" />
	Votre clé de guilde : <br/>
	<input type="text" value="{{ apiKey }}" name="apiKey"/>
	{% set value = "Mettre à jour" %}
	{% if apiKey is null %}
		{% set value = "Enregistrer" %}
	{% endif %}
	<input type="submit" value="{{ value }}"/>
</form>
<a href="{{ urlFor('ryzomApp-Home') }}?checksum={{ checksum }}&user={{ user }}">Retour accueil</a>
{% endblock %}