{% extends "ingame/content.ig.html.twig" %}

{% block content %}
{% for guild in guilds %}
	<div>
		<p>{{ guild.name }}</p>
		<a href="{{ urlFor('ryzomApp-GuildConfiguration.delete', {guildId: guild.id}) }}?checksum={{ checksum }}&user={{ user }}">Supprimer</a>
	</div>
{% endfor %}

<form action="{{ urlFor('ryzomApp-GuildConfiguration.post') }}" method="POST">
	<input type="hidden" value="{{ user }}" name="user" />
	<input type="hidden" value="{{ checksum }}" name="checksum" />
	<div>
		<p>Ajouter un entrepot: </p>
		<input type="text" name="newApiKey"/>
		<input type="submit" value="Enregistrer"/>
	</div>
</form>
<a href="{{ urlFor('ryzomApp-Home') }}?checksum={{ checksum }}&user={{ user }}">Retour accueil</a>
{% endblock %}