{% extends "ingame/content.ig.html.twig" %}

{% block title %}
	{{ parent() }} - Accueil
{% endblock title %}

{% block content %}
	<h2>Bonjour!</h2>
	<a href="{{ urlFor('ryzomApp-HominKey') }}?checksum={{ checksum }}&user={{ user }}">Clé api</a>
	<a href="{{ urlFor('ryzomApp-Inventory') }}?checksum={{ checksum }}&user={{ user }}">Inventaire</a>
	{% if grade=="Leader" or grade=="HighOfficer" %}
		<a href="{{ urlFor('ryzomApp-GuildKey') }}?checksum={{ checksum }}&user={{ user }}">Clé api de guilde</a>
		<a href="{{ urlFor('ryzomApp-GuildConfiguration') }}?checksum={{ checksum }}&user={{ user }}">Gérer les entrepôts de guilde</a>
	{% endif %}
{% endblock content %}