{% extends "ingame/inventoryHome.ig.html.twig" %}

{% block inventoryContent %}
	<form action="{{ urlFor('ryzomApp-Inventory/guild.post', {'guildId': guild.id}) }}" method="POST">
		<input type="hidden" value="{{ user }}" name="user"/>
		<input type="hidden" value="{{ checksum }}" name="checksum"/>
		{% set checkType = '' %}
		{% set checkQuality = '' %}
		{% if sort == 'type' %}
			{% set checkType = 'checked="checked"' %}
		{% else %}
			{% set checkQuality = 'checked="checked"' %}
		{% endif %}
		<table boreder="0" width="100%">
			<tr valgin="middle">
				<td align="right">
					<input type="checkbox" name="type" {{ checkType }}/> Type
					 <input type="checkbox" name="quality" {{ checkQuality }}/> Qualité
					 <pre><input type="submit" value="Trier"/>    </pre>
				</td>
			</tr>
			<tr valign="middle">
				<td align="right" height="9">
					(Ne cocher qu'une case, sinon le tri par défaut sera utilisé)
				</td>
			</tr>
		</table>
	</form>
	<h2>{{ guild.name }}</h2>
	<div>
	{% if items.error is not null %}
		<p>Problème de clé</p>
	{% else %}
		{% for item in items %}
			<img src="{{ item.iconUrl }}" style="border: 1px solid #333;" title="{{ item.stack }}x{{ item.name }} (Q{{ item.quality }}{{ item.details }})"/>
		{% endfor %}
	{% endif %}
	</div>
{% endblock %}