{% extends "ingame/content.ig.html.twig" %}

{% block content %}
	{% include 'ingame/inventoryMenu.ig.html.twig' %}
	
	{% block inventoryContent %}
		<form action="{{ urlFor('ryzomApp-Inventory') }}" method="POST">
			<input type="hidden" value="{{ user }}" name="user"/>
			<input type="hidden" value="{{ checksum }}" name="checksum"/>
			<h5>Entrez votre recherche:</h5>
			<pre>    <input type="text" name="search" size="155"/></pre>
			<br>
			<br>
			<pre>    <input type="submit" value="Chercher"/></pre>
		</form>
		{% for guild in searchResult %}
			<h2>{{ guild.guild.name }}</h2>
			<div>
			{% for item in guild.items %}
				{% if item.error is not null %}
					<p>Problème de clé</p>
					<br>
					<br>
				{% else %}
					<img src="{{ item.iconUrl }}" style="border: 1px solid #333;" title="{{ item.stack }}x{{ item.name }} (Q{{ item.quality }}{{ item.details }})"/>&nbsp;
				{% endif %}
			{% endfor %}
			</div>
		{% endfor %}
	{% endblock %}
{% endblock content %}