{% extends "ingame/skills.ig.html.twig" %}

{% block skillContent %}
	<h2>Niveau de magie</h2>
	<table>
		<tr>
			<td>Nom</td>
			<td>Curative</td>
			<td>Neutralisante</td>
			<td>Élémentaire</td>
			<td>Débilitante</td>
		</tr>
	{% for homin in homins %}
		<tr>
			<td>{{ homin.name }}</td>
			{% if homin.error %}
			<td>X</td>
			<td>X</td>
			<td>X</td>
			<td>X</td>
		{% else %}
			<td>{{ homin.lvls.heal }}</td>
			<td>{{ homin.lvls.neutra }}</td>
			<td>{{ homin.lvls.off }}</td>
			<td>{{ homin.lvls.debi }}</td>
		{% endif %}
		</tr>
	{% endfor %}
	</table>
{% endblock %}